name: Lints

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install rustc 1.52.0
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt
      - uses: actions-rs/cargo@v1
        name: Formatting
        with:
          command: fmt
          args: --all -- --check
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install rustc 1.52.0
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.52.0
          override: true
          components: clippy
      - uses: actions-rs/cargo@v1
        name: Clippy
        with:
          command: clippy
          args: --workspace --all-features

